/* div p{
    background-color: red;
    color: white;
}
p:hover{
    font-size: 20px;
    color: yellow;
}
p::after{
    content: "Abes Engineering colle";
    background-color: black;
    color: white;
}
p:nth-child(1){
    font-style: italic;
} */
 div p:nth-of-type(1){
    background-color: blue;
    color: white;
 }